.filter-container{
    margin: 1.2rem 0.5rem;
    grid-area: filter;
    padding: 0.5rem;
}

.filter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-header button{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.filter{
    margin-top: 0.5rem;
}

.filter p{
    margin: 0.5rem 0;
}

.filter div{
    margin: 0.3rem;
}

.filter label{
    margin-left: 0.5rem;
}